* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
    padding-top: 80px;
    max-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: url('../Images/bg.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 20px;

}

.forms {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.user-sign {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
    & .sign-btn {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        font-size: 20px;
        font-weight: 900;
        border: none;
        border-radius: inherit;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 10px;

        &:hover {
            background-color: #e0e0e0;
            color: #121212;
        }

        &.active {
            background: linear-gradient(to left, #232526, #414345);
            color: #fff;
        }
    }
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #777;
}

.main-data {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background: linear-gradient(to left, #232526, #414345);
    color: #fff;
    padding: 30px;
    border-radius: 15px;

    & h2 {
        text-align: center;
    }

    & p {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .main-form {
        padding: 20px 0;
    }

    .forms {
        max-width: 100%;
    }

    .user-sign {
        flex-direction: column;
        padding: 20px;
    }

    .sign-btn {
        margin-bottom: 20px;
    }

    .main-data {
        padding: 20px;
    }
}
